Application/node_modules/*
Application/.webpack/*
Application/.idea/*
Application/electron/.idea/*
Simulation/.idea/*
Simulation/LTFiles/*
Application/yarn-error.log

Simulation/SpiceBatch.log

Electronics/SimTest/SimTest/History/

Electronics/Projects/PCB_Project/History/

Electronics/Projects/RP2040Breakout/History/

Electronics/Projects/RP2040Breakout/Project Logs for RP2040Breakout/

Electronics/Projects/RP2040Breakout/__Previews/

Electronics/Projects/SMPSBreakout/SMPSBreakout/History/

*.LOG

Electronics/Projects/CurrentSensor/CurrentSensor/History/

Electronics/Projects/OVPSwitch/OVPSwitch/History/
