Application/node_modules/*
Application/.webpack/*
Application/.idea/*
Application/electron/.idea/*
Simulation/.idea/*
Simulation/LTFiles/*
Application/yarn-error.log

Simulation/SpiceBatch.log

*.Zip

docs/.idea/

Electronics/Projects/RP2040Breakout/Project Logs for RP2040Breakout/

Electronics/Projects/RP2040Breakout/__Previews/

Electronics/Projects/VoltageInput/VoltageInput/Project Logs for VoltageInput/

.idea/
Application/
Electronics/
Firmware/
Simulation/
venv/