venv/*
Simulation/PyLTSpice/

Electronics/Projects/RP2040Breakout/Project Logs for RP2040Breakout/

Electronics/Projects/RP2040Breakout/History/

Electronics/History/

Electronics/Projects/PCB_Project/History/

Electronics/Projects/RP2040Breakout/__Previews/
